@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-LightItalic.woff2') format('woff2'), url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body,
ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.iconsheet {
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
}
body {
  font-family: 'GothamPro', sans-serif;
  font-size: 14px;
  color: #221f1f;
}
.wrapper {
  min-width: 1100px;
}
.container {
  width: 1060px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.container-form {
  max-width: 560px;
  padding: 50px 70px;
  margin: 0 auto;
  background: #f3f3f3;
  box-sizing: border-box;
}
.header,
.footer,
.banner,
.sentence {
  background-color: #27273e;
}
.header {
  padding-top: 13px;
  padding-bottom: 10px;
}
.header > .container,
.footer > .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.center__block {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}
.section-title {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 2rem;
}
.sidebar {
  width: 16.98%;
}
.content {
  width: 83.02%;
}
.feedback {
  margin-bottom: 50px;
}
.footer {
  padding-top: 13px;
  padding-bottom: 15px;
}
.contacts {
  font-style: normal;
  text-align: right;
  position: relative;
}
.contacts__phone {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  display: block;
}
.contacts__timework {
  color: rgba(236, 30, 121, 0.7);
  font-family: 'OpenSans', sans-serif;
  border-bottom: 1px solid rgba(236, 30, 121, 0.7);
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.contacts__timework:hover {
  color: rgba(93, 209, 248, 0.7);
  border-bottom: 1px solid rgba(93, 209, 248, 0.7);
}
.contacts__timework:hover + .contacts__popup {
  display: block;
}
.contacts__popup {
  display: none;
  position: absolute;
  top: 77px;
  left: 38px;
  background: #ffffff;
  z-index: 5;
  padding: 15px 10px;
  border-radius: 3px;
  text-align: left;
  box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.2);
}
.contacts__popup-days {
  color: #ec1e79;
  font-weight: 700;
  margin-bottom: 10px;
}
.contacts__popup::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -13px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 14px 13px;
  border-radius: 3px;
  border-color: transparent transparent #ffffff transparent;
}
.banner__content {
  height: 367px;
  background: url(../image/banner.jpg) center;
}
.menu__item {
  color: #ec1e79;
  font-family: 'GothamPro', sans-serif;
  font-size: 0.8571em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu__item.active > .menu__link {
  color: #000;
  pointer-events: none;
}
.menu__link {
  padding: 5px 0 5px 40px;
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
}
.menu__link:hover {
  color: #000;
}
.menu__link--triangle {
  background-position: -10px -173px;
}
.menu__link--star {
  background-position: -10px -99px;
}
.menu__link--wallet {
  background-position: -10px -299px;
}
.menu__item.active > .menu__link--triangle,
.menu__link--triangle:hover {
  background-position: -10px -208px;
}
.menu__item.active > .menu__link--star,
.menu__link--star:hover {
  background-position: -10px -137px;
}
.menu__item.active > .menu__link--wallet,
.menu__link--wallet:hover {
  background-position: -10px -335px;
}
.features__list {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}
.features__item {
  max-width: 225px;
  padding: 0 20px;
  margin-bottom: 80px;
}
.features__img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
  background: #27273e;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.features__title {
  color: #212121;
  font-size: 0.7857em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.features__subs,
.features__plus {
  font-size: 1.286em;
  margin-bottom: 18px;
}
.features__subs {
  text-align: center;
  line-height: 1.5;
}
.features__plus::before {
  content: "\2022";
  color: #c36;
  margin-right: 30px;
}
.review__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.review__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  background: url(../image/comment0.jpg) center;
}
.review__img > img {
  display: block;
  width: 100%;
  height: auto;
}
.review__block {
  width: 79.55%;
  font-family: 'Roboto', sans-serif;
}
.review__date {
  display: block;
  color: #656464;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
}
.review__title,
.review__text {
  color: #221f1f;
  font-size: 1.286em;
}
.review__title {
  font-weight: 700;
  margin-bottom: 15px;
}
.review__text {
  font-weight: 300;
  line-height: 1.8;
}
.pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 370px;
  margin: 0 auto 70px;
  font-family: 'Roboto', sans-serif;
}
.pagination__text {
  color: #656464;
  font-weight: 300;
  padding: 9px 5px;
}
.pagination__navbar {
  color: #221f1f;
}
.pagination__list,
.pagination__item {
  display: inline-block;
}
.pagination__control,
.pagination__link {
  font-weight: 700;
}
.pagination__control {
  font-size: 1.571em;
  padding: 5px 10px;
}
.pagination__control.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.pagination__list {
  font-size: 0;
}
.pagination__item {
  font-size: 1rem;
}
.pagination__item.active {
  background-color: #27273e;
  border-radius: 3px;
  color: #ec1e79;
}
.pagination__item.active > .pagination__link {
  pointer-events: none;
}
.pagination__link {
  display: block;
  padding: 3px 8px;
}
.pagination__link:hover {
  color: #ec1e79;
}
.info {
  color: #fff;
  font-weight: 300;
}
.info__text {
  width: 260px;
  line-height: 1.4;
}
.info__link {
  font-weight: 700;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.info__link:hover {
  color: #ec1e79;
}
.info__link--school {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.info__link--school:hover {
  border-bottom: 1px solid rgba(236, 30, 121, 0.3);
}
.social {
  color: #fff;
}
.social__title {
  margin-bottom: 7px;
}
.social__item {
  display: inline-block;
  margin-right: 13px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.social__item:hover {
  background: #ec1e79;
}
.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
}
.social__link--vk {
  background-position: -6px -269px;
}
.social__link--fb {
  background-position: -3px -36px;
}
.social__link--gplus {
  background-position: -7px -67px;
}
.social__link--tw {
  background-position: -6px -241px;
}
.social__link--email {
  background-position: -6px -4px;
}
.breadcrumbs {
  display: -webkit-box;
  display: flex;
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 25px;
}
.breadcrumbs__item::after {
  content: '/';
  margin-right: 5px;
}
.breadcrumbs__item:last-child::after {
  content: '';
}
.breadcrumbs__link {
  color: #ec1e79;
  border-bottom: 1px solid #ec1e79;
}
.sentence {
  font-size: 1.286em;
  color: #fff;
  margin-bottom: 55px;
}
.sentence .container {
  background: url(../image/discount_bg.jpg) repeat;
}
.sentence__text {
  width: 630px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.8;
  padding: 40px 0;
}
.sentence__discount {
  color: #ec1e79;
  font-weight: 700;
}
.feedback-form__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}
.feedback-form__item {
  display: block;
  -webkit-box-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.feedback-form__item:last-child {
  margin-right: 0;
}
.feedback-form__head {
  display: block;
  margin-bottom: 10px;
}
.feedback-form__input {
  width: 100%;
  outline: none;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
}
.feedback-form__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.feedback-form__input:-ms-input-placeholder {
  opacity: 0.5;
}
.feedback-form__input::placeholder {
  opacity: 0.5;
}
.feedback-form__input--textarea {
  resize: none;
  height: 90px;
}
.feedback-form__input:focus {
  border: 1px solid #ec1e79;
}
.feedback-form__radio-block {
  display: -webkit-box;
  display: flex;
}
.feedback-form__radio-item {
  width: 55px;
  margin-right: 15px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.feedback-form__radio-input {
  display: none;
}
.feedback-form__radio-input:checked + .feedback-form__radio-custom {
  border: 1px solid #ec1e79;
}
.feedback-form__radio-input:checked + .feedback-form__radio-custom > .feedback-form__radio-center {
  background: #ec1e79;
}
.feedback-form__radio-custom {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
}
.feedback-form__radio-custom > .feedback-form__radio-center {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.feedback-form__btn {
  padding: 16px 21px;
  background-color: #27273e;
  border-radius: 3px;
  color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
  font-size: 0.8571em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}
.feedback-form__btn:hover {
  background-color: #ec1e79;
}
.feedback-form__btn:active {
  box-shadow: inset 0 0 5px #5e5e5e;
}
.tariffs {
  margin-bottom: 25px;
}
.tariffs__block {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.tariffs__plane {
  width: 273px;
  text-align: center;
  margin: 0 0 45px;
}
.tariffs__img {
  position: relative;
  width: 252px;
  height: 155px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto 25px;
}
.tariffs__img > img {
  width: 100%;
  height: auto;
}
.tariffs__overlay {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  opacity: 0.85;
  background-color: #27273e;
  color: #fff;
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
}
.tariffs__overlay:hover {
  opacity: 0;
}
.tariffs__title {
  font-size: 1.714em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  color: #5dd1f8;
}
.tariffs__vip {
  display: block;
  color: #ec1e79;
}
.tariffs__head {
  font-size: 1.286em;
  font-weight: 700;
  margin-bottom: 20px;
}
.tariffs__text {
  line-height: 1.4em;
}
.partners {
  margin-bottom: 40px;
}
.partners__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
}
.partners__item {
  margin-bottom: 50px;
  width: 290px;
}
.partners__link {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .25s all linear;
  transition: .25s all linear;
}
.partners__link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
