html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-LightItalic.woff2') format('woff2'), url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body,
ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.iconsheet {
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'GothamPro', sans-serif;
  font-size: 14px;
  color: #221f1f;
}
.wrapper {
  min-width: 1200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.container--flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.container-form {
  max-width: 767px;
  padding: 50px 70px;
  margin: 0 auto;
  background: #f3f3f3;
  box-sizing: border-box;
}
.header,
.footer,
.banner {
  background-color: #27273e;
}
.header {
  padding-top: 13px;
  padding-bottom: 10px;
  margin-bottom: 35px;
}
.header--main {
  margin-bottom: 0;
}
.section-title {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 82px;
  line-height: 2rem;
}
.section-title--form {
  margin-bottom: 45px;
}
.sidebar {
  width: 23.71%;
}
.aside-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}
.content {
  width: 74.57%;
}
.feedback {
  margin-bottom: 26px;
}
.footer {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.intro {
  min-width: 0;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: url(../image/intro_bg.jpg) center;
  background-size: cover;
}
.intro__block {
  position: relative;
  text-align: center;
  opacity: 0;
  -webkit-animation: intro .4s 1s ease;
          animation: intro .4s 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__logo {
  margin-bottom: 30px;
}
.intro__link {
  display: block;
  padding: 13px 20px;
  border: 3px solid #ec1e79;
  color: #ec1e79;
  font-size: 0.8571em;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: .25s all linear;
  transition: .25s all linear;
}
.intro__link:hover {
  background: #ec1e79;
  color: #fff;
}
@-webkit-keyframes intro {
  0% {
    opacity: .3;
    -webkit-transform: scale(0.5, 0);
            transform: scale(0.5, 0);
  }
  20% {
    -webkit-transform: scale(0.8, 0.5);
            transform: scale(0.8, 0.5);
  }
  40% {
    opacity: .6;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes intro {
  0% {
    opacity: .3;
    -webkit-transform: scale(0.5, 0);
            transform: scale(0.5, 0);
  }
  20% {
    -webkit-transform: scale(0.8, 0.5);
            transform: scale(0.8, 0.5);
  }
  40% {
    opacity: .6;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.contacts {
  font-style: normal;
  text-align: right;
  position: relative;
}
.contacts__phone {
  color: #fff;
  font-size: 1.49em;
  font-weight: 700;
  display: block;
  line-height: 1.4;
}
.contacts__link {
  color: rgba(236, 30, 121, 0.7);
  border-bottom: 1px solid rgba(236, 30, 121, 0.7);
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.contacts__timework {
  position: relative;
  display: inline-block;
  font-family: 'OpenSans', sans-serif;
}
.contacts__timework:hover .contacts__link {
  color: rgba(93, 209, 248, 0.7);
  border-bottom: 1px solid rgba(93, 209, 248, 0.7);
}
.contacts__timework:hover .contacts__link + .contacts__popup {
  right: 0;
  opacity: 1;
}
.contacts__popup {
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 9999px;
  -webkit-transition: .4s opacity ease;
  transition: .4s opacity ease;
}
.contacts__popup::before {
  content: '';
  display: block;
  height: 20px;
}
.contacts__popup-block {
  width: 125px;
  background: #ffffff;
  z-index: 5;
  padding: 15px 9px;
  border-radius: 3px;
  text-align: left;
  box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.2);
}
.contacts__popup-block::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 14px 13px;
  border-radius: 3px;
  border-color: transparent transparent #ffffff transparent;
}
.contacts__popup-days {
  color: #ec1e79;
  font-weight: 700;
  margin-bottom: 10px;
}
.contacts__popup-dinner {
  color: #221f1f;
}
.banner {
  margin-bottom: 35px;
}
.banner__content {
  height: 385px;
  background: url(../image/banner.jpg) center;
}
.menu {
  padding-top: 9px;
  margin-bottom: 35px;
}
.menu__list {
  display: -webkit-box;
  display: flex;
}
.menu__item {
  color: #ec1e79;
  font-family: 'GothamPro', sans-serif;
  font-size: 0.8571em;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 90px;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item.active > .menu__link {
  color: #221f1f;
  pointer-events: none;
}
.menu__link {
  padding: 5px 0 5px 40px;
  letter-spacing: 1px;
  -webkit-transition: .3s color ease;
  transition: .3s color ease;
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
}
.menu__link:hover {
  color: #221f1f;
}
.menu__link--triangle {
  background-position: -10px -212px;
}
.menu__link--star {
  background-position: -10px -99px;
}
.menu__link--wallet {
  background-position: -10px -373px;
}
.menu__item.active > .menu__link--triangle,
.menu__link--triangle:hover {
  background-position: -10px -247px;
}
.menu__item.active > .menu__link--star,
.menu__link--star:hover {
  background-position: -10px -137px;
}
.menu__item.active > .menu__link--wallet,
.menu__link--wallet:hover {
  background-position: -10px -409px;
}
.menu--main {
  margin-bottom: 0;
}
.menu--main .menu__item {
  color: #fff;
}
.menu--main .menu__item.active > .menu__link {
  color: #ec1e79;
}
.menu--main .menu__link:hover {
  color: #ec1e79;
}
.menu--main .menu__link--triangle {
  background-position: -10px -282px;
}
.menu--main .menu__link--star {
  background-position: -10px -175px;
}
.menu--main .menu__link--wallet {
  background-position: -10px -445px;
}
.menu--main .menu__item.active > .menu__link--triangle,
.menu--main .menu__link--triangle:hover {
  background-position: -10px -212px;
}
.menu--main .menu__item.active > .menu__link--star,
.menu--main .menu__link--star:hover {
  background-position: -10px -99px;
}
.menu--main .menu__item.active > .menu__link--wallet,
.menu--main .menu__link--wallet:hover {
  background-position: -10px -373px;
}
.features {
  padding: 25px 20px 0;
  margin-bottom: 40px;
  border: 1px solid #e8e9ed;
}
.features__title {
  color: #212121;
  font-size: 0.7857em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.features__subs,
.features__plus {
  font-size: 1.286em;
}
.features__subs {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 10px;
}
.features__sublist {
  margin-left: 37px;
}
.features__plus {
  margin-bottom: 14px;
}
.features__plus::before {
  content: "\2022";
  color: #c36;
  margin-right: 30px;
}
.review__item {
  margin-bottom: 48px;
}
.review__item:last-child {
  margin-bottom: 35px;
}
.review__img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  background: url(../image/comment0.jpg) center;
}
.review__block {
  width: 77%;
  font-family: 'Roboto', sans-serif;
}
.review__date {
  display: block;
  color: #656464;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 8px;
}
.review__title,
.review__text {
  color: #221f1f;
  font-size: 1.286em;
}
.review__title {
  font-weight: 700;
  margin-bottom: 8px;
}
.review__text {
  font-weight: 300;
  line-height: 1.7;
}
.pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto 51px;
  font-family: 'Roboto', sans-serif;
}
.pagination__text {
  color: #656464;
  font-weight: 300;
  padding: 9px 10px;
}
.pagination__navbar {
  color: #221f1f;
}
.pagination__list,
.pagination__item {
  display: inline-block;
}
.pagination__control,
.pagination__link {
  font-weight: 700;
}
.pagination__control {
  font-size: 1.571em;
  padding: 5px 10px;
}
.pagination__control.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.pagination__list {
  font-size: 0;
}
.pagination__item {
  font-size: 1rem;
}
.pagination__item.active {
  background-color: #27273e;
  border-radius: 3px;
  color: #ec1e79;
}
.pagination__item.active > .pagination__link {
  pointer-events: none;
}
.pagination__link {
  display: block;
  padding: 3px 8px;
}
.pagination__link:hover {
  color: #ec1e79;
}
.info {
  color: #fff;
  font-weight: 300;
}
.info__text {
  width: 260px;
  line-height: 1.4;
}
.info__link {
  font-weight: 700;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.info__link:hover {
  color: #ec1e79;
}
.info__link--school {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.info__link--school:hover {
  border-bottom: 1px solid rgba(236, 30, 121, 0.3);
}
.social {
  text-align: center;
}
.social__title {
  margin-bottom: 7px;
  letter-spacing: -1.1px;
}
.social__item {
  display: inline-block;
  margin-left: 6px;
  border-radius: 50%;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.social__item:first-child {
  margin-left: 0;
}
.social__item:hover {
  background: #ec1e79;
}
.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
}
.social__link--vk {
  background-position: -6px -342px;
}
.social__link--fb {
  background-position: -3px -36px;
}
.social__link--gplus {
  background-position: -7px -66px;
}
.social__link--tw {
  background-position: -6px -314px;
}
.social__link--email {
  background-position: -6px -4px;
}
.sentence {
  font-size: 1.286em;
  color: #fff;
  margin-bottom: 24px;
  background: url(../image/discount_bg.jpg) repeat;
  padding: 26px 15px;
  text-align: center;
}
.sentence__text {
  font-weight: 300;
  line-height: 1.8;
}
.sentence__discount {
  display: block;
  color: #ec1e79;
  font-weight: 700;
}
.feedback-form__row {
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}
.feedback-form__item {
  display: block;
  -webkit-box-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.feedback-form__item:last-child {
  margin-right: 0;
}
.feedback-form__head {
  display: block;
  margin-bottom: 10px;
}
.feedback-form__input {
  width: 100%;
  outline: none;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
}
.feedback-form__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.feedback-form__input:-ms-input-placeholder {
  opacity: 0.5;
}
.feedback-form__input::placeholder {
  opacity: 0.5;
}
.feedback-form__input--textarea {
  resize: none;
  height: 90px;
}
.feedback-form__input:focus {
  border: 1px solid #ec1e79;
}
.feedback-form__radio-block {
  display: -webkit-box;
  display: flex;
}
.feedback-form__radio-item {
  width: 55px;
  margin-right: 15px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.feedback-form__radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.feedback-form__radio-input:checked + .feedback-form__radio-custom {
  border: 1px solid #ec1e79;
}
.feedback-form__radio-input:checked + .feedback-form__radio-custom > .feedback-form__radio-center {
  background: #ec1e79;
}
.feedback-form__radio-custom {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  -webkit-transition: .3s color ease;
  transition: .3s color ease;
}
.feedback-form__radio-custom > .feedback-form__radio-center {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}
.feedback-form__btn {
  padding: 16px 21px;
  background-color: #27273e;
  border-radius: 3px;
  color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
  font-size: 0.8571em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}
.feedback-form__btn:hover {
  background-color: #ec1e79;
}
.feedback-form__btn:active {
  box-shadow: inset 0 0 5px #5e5e5e;
}
.tariffs {
  margin-bottom: 25px;
}
.tariffs__block {
  flex-wrap: wrap;
}
.tariffs__plane {
  width: 273px;
  text-align: center;
  margin: 0 0 45px;
}
.tariffs__img {
  position: relative;
  width: 273px;
  height: 155px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto 25px;
}
.tariffs__overlay {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  opacity: 0.85;
  background-color: #27273e;
  color: #fff;
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
}
.tariffs__overlay:hover {
  opacity: 0;
}
.tariffs__title {
  font-size: 1.714em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  color: #5dd1f8;
}
.tariffs__vip {
  display: block;
  color: #ec1e79;
}
.tariffs__head {
  font-size: 1.286em;
  font-weight: 700;
  margin-bottom: 20px;
}
.tariffs__text {
  line-height: 1.4em;
}
.partners {
  margin-bottom: 20px;
  border: 1px solid #e8e9ed;
  padding: 30px 60px 0;
}
.partners__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.partners__item {
  margin-bottom: 35px;
}
.partners__link {
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .25s all linear;
  transition: .25s all linear;
}
.partners__link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
