.features {
	&__list {
		display: flex;
	}

	&__item {
		max-width: 225px;
		padding: 25px 20px 0;
		margin-bottom: 40px;
		border: 1px solid #e8e9ed;
	}

	&__head {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 33px;
		letter-spacing: 1px;
	}

	&__img {
		width: 68px;
		height: 68px;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 35px;
		background: #27273e;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		color: #212121;
		font-size: 0.7857em; // 11px
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		margin-bottom: 20px;
	}

	&__subs,
	&__plus {
		font-size: 1.286em; // 18px
	}

	&__subs {
		text-align: center;
		line-height: 1.6;
		margin-bottom: 10px;
	}

	&__sublist {
		margin-left: 37px;
	}

	&__plus {
		margin-bottom: 14px;

		&::before {
			content: "\2022";
			color: #c36;
			margin-right: 30px;
		}
	}
}
