.menu {
	padding-top: 9px;
	margin-bottom: 35px;

	&__list {
		display: flex;
	}

	&__item {
		color: #ec1e79;
		font-family: 'GothamPro', sans-serif;
		font-size: 0.8571em;
		font-weight: 700;
		text-transform: uppercase;
		margin-left: 90px;

		&:first-child {
			margin-left: 0;
		}

		&.active  > .menu__link {
			color: #221f1f;
			pointer-events: none;
		}
	}

	&__link {
		position: relative;
		padding: 5px 0 5px 40px;
		letter-spacing: 1px;
		transition: .3s color ease;

		&::after,
		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			.iconsheet;
			transform: translateY(-60%);
			transition: .3s opacity ease;
		}
		
		&:hover {
			color: #221f1f;
		}
	
		&--triangle {
			&::before {
				.icon(-10px, -212px);
			}
			&::after {
				opacity: 0;
				.icon(-10px, -247px);
			}
		}
		&--star {
			&::before {
				.icon(-10px, -99px);
			}
			&::after {
				opacity: 0;
				.icon(-10px, -137px);
			}
		}
		&--wallet {
			&::before {
				.icon(-10px, -373px);
			}
			&::after {
				opacity: 0;
				.icon(-10px, -409px);
			}
		}
	}
}

.menu__item.active > .menu__link--triangle::after,
.menu__link--triangle:hover::after,
.menu__item.active > .menu__link--star::after,
.menu__link--star:hover::after,
.menu__item.active > .menu__link--wallet::after,
.menu__link--wallet:hover::after {
	opacity: 1;
}

.menu__item.active > .menu__link--triangle::before,
.menu__link--triangle:hover::before,
.menu__item.active > .menu__link--star::before,
.menu__link--star:hover::before,
.menu__item.active > .menu__link--wallet::before,
.menu__link--wallet:hover::before {
	opacity: 0;
}

.menu--main {
	margin-bottom: 0;
	
	.menu__item {
		color: #fff;

		&.active  > .menu__link {
			color: #ec1e79;
		}
	}

	.menu__link {
		&:hover {
			color: #ec1e79;
		}

		&--triangle {
			&::before {
				.icon(-10px, -282px);
			}
			&::after {
				.icon(-10px, -212px);
			}
		}
		&--star {
			&::before {
				.icon(-10px, -175px);
			}
			&::after {
				.icon(-10px, -99px);
			}
		}
		&--wallet {
			&::before {
				.icon(-10px, -445px);
			}
			&::after {
				.icon(-10px, -373px);
			}
		}
	}
}