.sentence {
	font-size: 1.286em; // 18px
	color: #fff;
	margin-bottom: 55px;

	& .container {
		background: url(../image/discount_bg.jpg) repeat;
	}

	&__text {
		width: 630px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.8;
		padding: 40px 0;
	}

	&__discount {
		color: #ec1e79;
		font-weight: 700;
	}
}