.social {
	color: #fff;

	&__title {
		margin-bottom: 7px;
	}

	&__item {
		display: inline-block;
		margin-right: 13px;
		background: #ffffff;
		border-radius: 50%;
		transition: .2s all linear;

		&:hover {
			background: #ec1e79;
		}
	}

	&__link {
		display: block;
		width: 20px;
		height: 20px;

		&--vk {
			background: url(../image/vk_icon.png) no-repeat center;
		}

		&--fb {
			background: url(../image/fb_icon.png) no-repeat center;
		}

		&--gplus {
			background: url(../image/gplus_icon.png) no-repeat center;
		}

		&--tw {
			background: url(../image/tw_icon.png) no-repeat center;
		}

		&--email {
			background: url(../image/email_icon.png) no-repeat center;
		}
	}
}