.social {
	color: #fff;

	&__title {
		margin-bottom: 7px;
	}

	&__item {
		display: inline-block;
		margin-right: 13px;
		background: #ffffff;
		border-radius: 50%;
		transition: .2s all linear;

		&:hover {
			background: #ec1e79;
		}
	}

	&__link {
		display: block;
		width: 20px;
		height: 20px;
		.iconsheet;

		&--vk {
			.icon(-6px, -269px);
		}

		&--fb {
			.icon(-3px, -36px);
		}

		&--gplus {
			.icon(-7px, -67px);
		}

		&--tw {
			.icon(-6px, -241px);
		}

		&--email {
			.icon(-6px, -4px);
		}
	}
}